<template>
  <!-- Header Bar -->
    <div class="row header">
      <div class="col-xs-12">
        <div class="user pull-right">
          <div class="item">
            <a href="" toggle-fullscreen="icon-on:zmdi-fullscreen-alt; icon-off:zmdi-fullscreen-exit">
                <i class="zmdi zmdi-fullscreen-alt"></i>
            </a>
          </div>
          <div class="item dropdown">
            <a route-href="route: profile" class="dropdown-toggle">
              <i class="zmdi zmdi-male"></i>
              <!--<img src="img/avatar.jpg">-->
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-header">
                Joe Bloggs
              </li>
              <li class="divider"></li>
              <li class="link">
                <a route-href="route: contacts">
                  Profile
                </a>
              </li>
              <li class="link">
                <a href="#">
                  Menu Item
                </a>
              </li>
              <li class="divider"></li>
              <li class="link">
                <a href="#">
                  Logout
                </a>
              </li>
            </ul>
          </div>
          <div class="item dropdown">
           <a href="" class="dropdown-toggle">
              <i class="zmdi zmdi-notifications"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-header">
                Notifications
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">Server Down!</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="meta">
          <div class="page">
            ${parent.activeRoute.title}
          </div>
          <div class="breadcrumb-links">
            ${parent.activeRoute.description}
            <!--Home / Dashboard-->
          </div>
        </div>
      </div>
    </div>
  <!-- End Header Bar -->
</template>
